<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Books</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/listStores}">Stores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/listBooks}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/about}">About the app</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/calculator}">Calculator</a>
                </li>
                <div class="collapse navbar-collapse" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/users}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/listLogs}">Logs</a>
                    </li>
                </div>
                <div class="collapse navbar-collapse" th:if="${#authorization.expression('hasRole(''ADMIN'')')
                or #authorization.expression('hasRole(''USER'')') or #authorization.expression('hasRole(''READ_ONLY'')')}">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                    </li>
                </div>
                <div class="collapse navbar-collapse" th:if="${not #authorization.expression('hasRole(''ADMIN'')')
                and not #authorization.expression('hasRole(''USER'')') and not #authorization.expression('hasRole(''READ_ONLY'')')}">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/register}">Registration</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>
<br/><br/>
<div class="container">
    <div class="row">
        <h1 class="text-center"> Books </h1>
    </div>
    <div class="row">
        <h4 class="text-center"> С помощью нашего сайта вы сможете вести учет книг в своих книжных магазинах.</h4>
        <h4 class="text-center"> Вы можете добавлять книги в общую базу, создавать свои магазины, указывать какие книги есть в магазине и в каком количестве.</h4>
    </div>
</div>
</body>
</html>
